<% include header %>

<main id="main">
    <!--==========================
        Services Section
      ============================-->
    <section id="services" class="section-bg mt-5">
      <div class="container">
  
        <header class="section-header">
          <h3>Sub Category</h3>
        </header>
        <% if ( msg=='subcategory not found..') {%>
            <center><p>Subcategory not available!!</p></center>
        <%} else { %>
        <div class="row">
          <% for(let row of subcat) { %> 
          <div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
            <div class="icon">
                <img class="img-fluid w-100" src="uploads/subcategoryicons/<%= row.scaticonnm %>" alt="">
            </div>
            <h4 class="title text-center"><a href=""><%= row.scatnm %></a></h4>
            </div>
          </div>
          <%}%>
        </div>
        <%}%>
      </div>
    </section><!-- #services -->
  </main>


<% include footer %>
