<% include header %>

<section id="contact">
    <div class="container mt-5">
  
      <div class="section-header mt-5 pb-2">
        <h3>OTP</h3>
      </div>
  
      <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
  
        <div class="col-lg-6 offset-lg-3 shadow p-5">
            
            <form method="POST" action="">
              <div class="form-group">
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP">
              </div>
              
              <button type="submit" class="ml-auto btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
<% include footer %>